@font-face {
  font-family: 'freeset-cyrillic';
  src: url(./freeset-cyrillic.ttf);
}

.background_line {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -86px
}

.diagonal {
    width: 100%;
    height: 113%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='40%' y1='66' x2='100%' y2='100%' stroke='#8D8D94' stroke-width='1'/></svg>") no-repeat;
}

.diagonal2 {
    width: 100%;
    height: 79.4%;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='0' y1='100%' x2='100%' y2='0%' stroke='#8D8D94' stroke-width='1'/></svg>") no-repeat;
}

.App {

}

a {
    color: inherit;
}

.top_line{
    width: 100%;
    height: 66px;
    background-color: #6C6C72;
    position: absolute;
    z-index: 9;
    top: 0;
}

.main_menu {
    text-align: center;
    position: absolute;
    margin-top: 55px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    z-index: 99;
    font-size: large;
    font-family: 'freeset-cyrillic';
    cursor: pointer;
}

.main_menu__link {
    z-index: 99;
    text-decoration: underline;
}

.App-header {
    width: 100%;
    position: absolute;
  /*height: 50vh;*/
  /*color: white;*/
  /*margin-bottom: 82px;*/
}






.app_body {
    background-color: #c6c6d0;
    height: calc(200vh - 90px);
    margin-top: 66px;
}

.slogan {
    margin-left: 10%;
    font-size: 24px;
    color: #4f4f50;
}

.map {
    height: 40vh;
}

.hello_input {
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    height: 25vh;
    border: 1px solid gray;
}

.hello_input__link {
    height: 25vh;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
    border: 1px solid gray;
}

.picture {
  width: 222px;
  height: 222px;
  display: inline-block;
  border: 1px solid gray;
}

.footer {
    border-top: 1px solid #8D8D94;
    background-color: #c6c6d0;
    height: 90px;
}

.footer [class*="col-"] {
    height: inherit;
}

.footer_col {
    height: 100%;
    border-left: 1px solid gray;
    padding: 20px;
}

.footer_col_first {
    height: 100%;
    border: 0;
    padding: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
